$color-black: #000;
$color-white: #fff;
$color-orange-light: #ffbd3e;
$color-orange-dark: #ff7044;
$color-blue-light: #3f90fc;
$color-blue-dark: #421fcf;
$color-green-light: #9fe6a0;
$color-green-dark: #4aa96c;
$color-brown-light: #6b4f4f;
$color-brown-dark: #6b4f4f;
