.my-events {
  min-height: 88vh;
  background-color: $color-green-light;
  padding: 2rem 0;
  color: $color-green-dark;
  h1 {
    font-family: "Jost", sans-serif;
    font-size: 4rem;
  }
}

.no-event {
  min-height: 88vh;
  padding: 2rem 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-green-light;

  h2 {
    font-family: "Jost", sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    color: $color-green-dark;
  }

  img {
    width: 30rem;
  }

  a {
    color: $color-green-dark;
  }
}
